.service{
        border: 1px solid lightgray;
        border-radius: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

  .service-btn{
          color: orange;
          font-weight: 400;
  }
.service span{
        color: rgba(240, 19, 19, 0.882);
        
}
.service p{
        font-size: 16px;
        
}
.service h4{
         text-transform: uppercase;
         font-weight: 600;
         padding-top: 10px;
}
